# Google AI Studio / Gemini API Config
GEMINI_API_KEY=
GEMINI_MODEL=gemma-4-31b-it
GEMINI_MODEL_FALLBACK_1=gemma-4-26b-a4b-it
GEMINI_MODEL_FALLBACK_2=gemini-3.1-flash-lite

# Apify Scrapers Config
APIFY_TOKEN=

# Notion Database Config
NOTION_API_KEY=
NOTION_DATABASE_ID=
